.favorites-container {
  padding: 16px;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.favorites-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.favorites-title-container {
  margin-bottom: 24px;
}

.favorites-title {
  font-family: Mulish, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #1D1C1C;
  line-height: 110%;
  text-align: center;
  margin: 0 0 16px 0;
}

.favorites-subtitle {
  font-family: Mulish, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #9B9A9A;
  line-height: 110%;
  text-align: left;
  margin-left: 16px;
}

.favorites-message {
  text-align: center;
  color: #9B9A9A;
  margin-top: 32px;
}

.favorites-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 116px;
  flex-grow: 1;
}

.favorites-empty h2 {
  color: var(--black, #1D1C1C);
  text-align: center;
  font-family: Mulish, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 18.7px */
  margin: 0 0 10px 0;
}

.favorites-empty p {
  color: var(--dark_grey, #9B9A9A);
  text-align: center;
  font-family: Mulish, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 13.2px */
  margin: 0;
}

.favorites-empty-btn {
  display: flex;
  height: 50px;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2px;
  background: var(--matcha, #A9AE36);
  border: none;
  cursor: pointer;

  color: var(--white, #FFF);
  text-align: center;
  font-family: Mulish, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 16.5px */
  margin-top: 38px;
}
